<div class="container" id="MainContainer">
  <section class="today-section">
    <!-- Upper section of the primary left-side panel -->
    <div class="search-area">
      <div class="search-box">
        <span class="search-icon material-symbols-outlined">search</span>
        <input
          type="text"
          class="search-input"
          placeholder="Search cities..."
          [(ngModel)]="searchValue"
          (keyup.enter)="getWeatherBySearch(searchValue)"
        />
      </div>
      <div
        class="mylocation-button small-circle-button material-symbols-outlined" (click)="getWeatherByLocation()"
      >
        my_location
    </div>
    <div
    title="Compare cities"
    *ngIf="isWindowWidthAbove800() && secondCityVisible === false" class="compare-city-button small-circle-button material-symbols-outlined"
    (click)="addSecondCity()"
  >
    add_circle
</div>
    </div>

    <!-- Today's weather section -->
    <div class="weather-visualization">
      <img [src]="'assets/WeatherIcons/' + getWeatherIcon(weatherData.list[0].weather[0].main) + '.png'" />
    </div>
    <div class="main-info-container">
      <h1 class="temp-h1">{{ weatherData.list[0].main.temp | number: "1.0-0" }}°{{ units === 'metric' ? 'C' : 'F' }}</h1>
      <h1 class="city-h1">{{ city }}</h1>
      <h3>{{ weatherData.list[0].dt_txt | date: 'EEEE, h a' }}</h3>
      
      <br />
      <hr class="rounded" />
    </div>


    <!-- Lower section of the card -->
    <div class="lower-data">
      <h4 class="more-info-label">{{weatherData.list[0].weather[0].main}}</h4>
      <div class="more-info-container">
        <!-- Minimum temp block -->
        <div class="info-block">
          <div class="info-block-label">
            <img src="assets/WeatherIcons/Cold Temperature Icons2.png" />
            <span>Min</span>
          </div>
          <div class="info-block-value">{{ weatherData.list[0].main.temp_min | number: "1.0-0" }}°{{ units === 'metric' ? 'C' : 'F' }}</div>
        </div>

        <!-- Maximum temp block -->
        <div class="info-block">
          <div class="info-block-label">
            <img src="assets/WeatherIcons/Hot Temperature Icons2.png" />
            <span>Max</span>
          </div>
          <div class="info-block-value">{{ weatherData.list[0].main.temp_max | number: "1.0-0"}}°{{ units === 'metric' ? 'C' : 'F' }}</div>
        </div>

        <!-- Humidity block
        <div class="info-block">
          <div class="info-block-label">
            <img src="assets/WeatherIcons/Rainy cloud icons2.png" />
            <span>Humidity</span>
          </div>
          <div class="info-block-value">{{ weatherData.list[0].main.humidity}}%</div>
        </div>

        Windspeed block
        <div class="info-block">
          <div class="info-block-label">
            <img src="assets/WeatherIcons/Wind Icons with Clouds.png" />
            <span>Wind</span>
          </div>
          <div class="info-block-value">{{ weatherData.list[0].wind.speed}} km/h</div>
        </div> -->
      </div>
    </div>
  </section>


  <!-- 2nd Today Section -->
  <section class="today-section second-today-section hidden">
    <!-- Upper section of the primary left-side panel -->
    <div class="search-area">
      <div class="search-box">
        <span class="search-icon material-symbols-outlined">search</span>
        <input
          type="text"
          class="search-input"
          placeholder="Search cities..."
          [(ngModel)]="searchValue2"
          (keyup.enter)="getWeatherBySearch2(searchValue2)"
        />
      </div>
      <div
        class="mylocation-button small-circle-button material-symbols-outlined" (click)="getWeatherByLocation2()"
      >
        my_location
    </div>
      <div
        class="compare-city-button small-circle-button material-symbols-outlined"
        (click)="removeSecondCity()"
      >
        Cancel
  </div>
    </div>

    <!-- Today's weather section -->
    <div class="weather-visualization">
      <img [src]="'assets/WeatherIcons/' + getWeatherIcon(weatherData2.list[0].weather[0].main) + '.png'" />
    </div>
    <div class="main-info-container">
      <h1 class="temp-h1">{{ weatherData2.list[0].main.temp | number: "1.0-0" }}°{{ units === 'metric' ? 'C' : 'F' }}</h1>
      <h1 class="city-h1">{{ city2 }}</h1>
      <h3>{{ weatherData2.list[0].dt_txt | date: 'EEEE, h a' }}</h3>
      
      <br />
      <hr class="rounded" />
    </div>


    <!-- Lower section of the card -->
    <div class="lower-data">
      <h4 class="more-info-label">{{weatherData2.list[0].weather[0].main}}</h4>
      <div class="more-info-container">
        <!-- Minimum temp block -->
        <div class="info-block">
          <div class="info-block-label">
            <img src="assets/WeatherIcons/Cold Temperature Icons2.png" />
            <span>Min</span>
          </div>
          <div class="info-block-value">{{ weatherData2.list[0].main.temp_min | number: "1.0-0" }}°{{ units === 'metric' ? 'C' : 'F' }}</div>
        </div>

        <!-- Maximum temp block -->
        <div class="info-block">
          <div class="info-block-label">
            <img src="assets/WeatherIcons/Hot Temperature Icons2.png" />
            <span>Max</span>
          </div>
          <div class="info-block-value">{{ weatherData2.list[0].main.temp_max | number: "1.0-0"}}°{{ units === 'metric' ? 'C' : 'F' }}</div>
        </div>
      </div>
    </div>
  </section>


  <section class="week-section">
    <div class="week-section-header">
      <!-- this needs to eventually become a tab system with Today and Week
    <h1 class="h1-titles">Today</h1> -->
      <h1 class="h1-titles">This week</h1>
      <span class="header-span"></span>
      <div class="unit-toggle-button selected-button" id="metric-toggle" (click)="toggleMetric()"><p>°C</p></div>
      <div class="unit-toggle-button" id="imperial-toggle" (click)="toggleImperial()"><p>°F</p></div>
    </div>
    <div class="week-section-body">
      <!-- <div class="small-container">Today</div> -->
      <div class="small-container">
        <p class="small-container-title">{{ weatherData.list[0].dt_txt | date: 'EEE' }}</p>
        <img [src]="'assets/WeatherIcons/' + getWeatherIcon(weatherData.list[0].weather[0].main) + '.png'" />
        <p class="small-container-info">{{ weatherData.list[0].main.temp_min | number: "1.0-0" }}-{{ weatherData.list[0].main.temp_max | number: "1.0-0" }}°{{ units === 'metric' ? 'C' : 'F' }}</p>
      </div>
      <div class="small-container">
        <p class="small-container-title">{{ weatherData.list[5].dt_txt | date: 'EEE' }}</p>
        <img [src]="'assets/WeatherIcons/' + getWeatherIcon(weatherData.list[5].weather[0].main) + '.png'" />
        <p class="small-container-info">{{ weatherData.list[1].main.temp_min | number: "1.0-0" }}-{{ weatherData.list[5].main.temp_max | number: "1.0-0" }}°{{ units === 'metric' ? 'C' : 'F' }}</p>
      </div>
      <div class="small-container">
        <p class="small-container-title">{{ weatherData.list[13].dt_txt | date: 'EEE' }}</p>
        <img [src]="'assets/WeatherIcons/' + getWeatherIcon(weatherData.list[13].weather[0].main) + '.png'" />
        <p class="small-container-info">{{ weatherData.list[9].main.temp_min | number: "1.0-0" }}-{{ weatherData.list[13].main.temp_max | number: "1.0-0" }}°{{ units === 'metric' ? 'C' : 'F' }}</p>
      </div>
      <div class="small-container">
        <p class="small-container-title">{{ weatherData.list[21].dt_txt | date: 'EEE' }}</p>
        <img [src]="'assets/WeatherIcons/' + getWeatherIcon(weatherData.list[21].weather[0].main) + '.png'" />
        <p class="small-container-info">{{ weatherData.list[17].main.temp_min | number: "1.0-0" }}-{{ weatherData.list[21].main.temp_max | number: "1.0-0" }}°{{ units === 'metric' ? 'C' : 'F' }}</p>
      </div>
      <div class="small-container">
        <p class="small-container-title">{{ weatherData.list[29].dt_txt | date: 'EEE' }}</p>
        <img [src]="'assets/WeatherIcons/' + getWeatherIcon(weatherData.list[29].weather[0].main) + '.png'" />
        <p class="small-container-info">{{ weatherData.list[25].main.temp_min | number: "1.0-0" }}-{{ weatherData.list[29].main.temp_max | number: "1.0-0" }}°{{ units === 'metric' ? 'C' : 'F' }}</p>
      </div>
      <div class="small-container">
        <p class="small-container-title">{{ weatherData.list[37].dt_txt | date: 'EEE' }}</p>
        <img [src]="'assets/WeatherIcons/' + getWeatherIcon(weatherData.list[37].weather[0].main) + '.png'" />
        <p class="small-container-info">{{ weatherData.list[33].main.temp_min | number: "1.0-0" }}-{{ weatherData.list[37].main.temp_max | number: "1.0-0" }}°{{ units === 'metric' ? 'C' : 'F' }}</p>
      </div>


    </div>

    <!-- This third section is the bottom right part of the card "Today's highlights"
        note that it is called a section but is not an actual section element-->

    <div class="highlights-section">
      <div class="highlights-section-header">
        <h1 class="h1-titles">Today's highlights</h1>
      </div>
      <div class="highlights-section-body">
        <div class="medium-container">
          <p class="medium-container-title">Humidity</p>
          <img src="assets/WeatherIcons/Humidity.png" />
          <h2>{{ weatherData.list[0].main.humidity}}%</h2>
        </div>
        <div class="medium-container">
          <p class="medium-container-title">Wind status</p>
          <img src="assets/WeatherIcons/Wind icons.png" />
          <h2>{{ (weatherData.list[0].wind.speed * (units === 'metric' ? 3.6 : 1)).toFixed(2) }} {{ units === 'metric' ? 'km/h' : 'mph' }}</h2>
        </div>
        <div class="medium-container">
          <p class="medium-container-title">Visibility</p>
          <img src="assets/WeatherIcons/Solar eclipse icon.png" />
          <h2>{{ weatherData.list[0].visibility / 1000}} km</h2>
        </div>

        <div class="medium-container"><p class="medium-container-title">Sunrise & Sunset</p></div>
        <div class="medium-container"><p class="medium-container-title">UV Index</p></div>

        <div class="medium-container"><p class="medium-container-title">Air quality</p></div>
      </div>
      <!-- need to add *ngIf the section day section display=show or something alone that line -->
      <!-- <h1 class="h1-titles">in {{city}}</h1> -->
    </div>
  </section>
</div>
