.weather-visualization {
  display: flex;
  justify-content: center;
  margin-top:5%;
}
.weather-visualization img {
  width: 60%;
}

.main-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.temp-h1 {
  font-family: var(--font-2);
  font-size: 50px;
}


.city-h1 {
  font-family: var(--font-2);
  font-size: 40px;
}

//Note: hr.rounded is the thin separator line
hr.rounded {
  width: 70%;
  border-top: 2px solid #f9f9f9;
  border-radius: 5px;
}
